{% extends 'TecheraAPP/base.html' %}

{% load static %}

{% block title %} About {% endblock title %}
{% block titulo %} About {% endblock titulo %}
{% block image %} {% static 'TecheraAPP/assets/img/post-sample-image.jpg'%} {% endblock image %}

{% block main %}
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <img  class='px-4' src="{{ about.imagen.url }}" style="max-height: 700px; max-width: 700px;" />
                    <p class='px-4' >{{about.descripcion | safe }}</p>
                </div>
            </div>
        </div>
    </main>

{% endblock main %}
