{% extends 'TecheraAPP/base.html' %}

{% load static %}

{% block title %} Blog {% endblock title %}
{% block titulo %} Blog {% endblock titulo %}
{% block image %} {% static 'TecheraAPP/assets/img/about-bg.jpg' %} {% endblock image %}




{% block main %}
    <!-- Main Content-->
    <form action="" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <table>
            {{ formulario.as_table }}
        </table>
        <input type="submit" value="Enviar">

    </form>

{% endblock main %}
