{% extends 'TecheraAPP/base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}
{% block subtitle %} Comienza a crear posts. {% endblock subtitle %}
{% block image %} {% static 'TecheraAPP/assets/img/home-bg.jpg'%} {% endblock image %}



{% block main %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <form action="" method="POST">
                    {% csrf_token %}
                    <table>
                        {{ formulario.as_table }}
                    </table>
                    <input type="submit" value="Buscar">

                </form>
                {% if blog_posts %}
                    {% for blog_post in blog_posts %}
                        <hr class="my-4" />
                        <!-- Post preview-->
                        <div class="post-preview">
                            <a href="{% url 'Ver Blog' id=blog_post.id %}">
                                <h2 class="post-title">{{ blog_post.titulo }} </h2>
                                <h3 class="post-subtitle">{{ blog_post.subTitulo }} </h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!"> {{ blog_post.usuario }} </a>
                                {{ blog_post.fecha_creado }} 
                            </p>
                            <p class="post-meta">
                                {% comment %} Actions {% endcomment %}
                                {% if request.user.is_authenticated and blog_post.usuario == request.user %}
                                    <a href="{% url 'Editar Blog' id=blog_post.id %}"> Editar </a>
                                    <a href="{% url 'Eliminar Blog' id=blog_post.id %}"> Eliminar </a>
                                {% endif %}
                            </p>
                        </div>
                    {% endfor %}   
                {% else %}
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="#!">
                            <h2 class="post-title">No hay posts aun</h2>
                        </a>
                    </div>    
                {% endif %}
            </div>
        </div>
    </div>


{% endblock main %}
